@model IdentityUser

@{
    ViewData["Title"] = "حذف کاربر";
}

<h3 class="text-danger">آیا از حذف این کاربر اطمینان دارید؟</h3>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                   نام کاربری
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt class="col-sm-2">
                    ایمیل
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="حذف" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-primary text-white">بازگشت به لیست</a>
            </form>
        </div>



    </div>

</div>
