@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "تایید ایمیل";
}


        <!--Middle Part Start-->
        <div id="content" class="col-sm-12" style="text-align:center;margin-bottom:100px;">
            <center>
                 <a href="javascript:void(0)" class="text-center db"><img src="~/plugins/images/admin-logo.png" alt="Home" /><br /><img src="../plugins/images/admin-text.png" alt="Home" /></a>
            </center>
                
                <h4 class="text-success">
                    از اینکه ایمیل خود را تایید کردید متشکریم
                </h4>
            <br /><br />
                <strong>
                    جهت ورود به حساب کاربری خود <a href="@Url.Action("Login")">اینجا</a> کلیک نمایید.
                </strong>
        </div>
<br /><br /><br />


     
 