@model ForgotPasswordViewModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "گذرواژه خود را فراموش کرده اید ؟";
}




<div class="container">
     <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
           <h2>@ViewData["Title"]</h2>
            <h4>ایمیل خود را وارد نمایید</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="ForgotPassword" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">ارسال</button>
                    </form>
                </div>
            </div>

        </div>
       </div>
</div>

