@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "تایید فراموشی رمز";
}


        <!--Middle Part Start-->
      
           <h2>@ViewData["Title"]</h2>
            <h4>ایمیل خود را جهت بازنشانی گذرواژه چک نمایید . ممکن است ایمیل در پوشه spam قرار گرفته باشد.</h4>
           
