@{
    ViewData["Title"] = "اشتراک غیر فعال شده";
    Layout = "_LayoutLogin";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">دسترسی به این اشتراک امکان پذیر نمی باشد لطفا بعدا تلاش نمایید</p>
</header>
