@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LayoutLogin";
}


        <!--Middle Part Start-->
        <div id="content" class="col-sm-12" style="text-align:center">
            <center>
                <img src="~/plugins/images/admin-logo-dark.png" class="img-responsive" height="200px;">
            </center>
                
                <h3 class="text-success">
                    گذرواژه باموفقیت بازنشانی شد 
                </h3>
                <strong>
                    جهت ورود به حساب کاربری خود <a href="@Url.Action("Login")">اینجا</a> کلیک نمایید.
                </strong>
        </div>

 