@using   TicketSupport.WEB.Views.Manage
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    ViewData["Parent_Title"] = "مدیریت پروفایل";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ViewData["Title"]</h3>
                <form method="post">
                    <input type="hidden" asp-for="StatusMessage" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-rounded">بروز رسانی رمز عبور</button>
                </form>
            </div>
        </div>

    </div>
</div>
